<h1>Edit Disaster id: <%= @disaster.id %></h1>

<%= form_for @disaster, url: admin_disaster_path(@disaster), method: :patch do |f| %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit %>
<% end %>