<%= link_to 'Back to post', posts_path, class: 'btn btn-warning'%>
<%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"btn btn-warning float-right" %>

<h1>Disaster type</h1>
<table class="table table-striped table-hover">
  <thead>
  <th>Id</th>
  <th>Type</th>
  <th>Action</th>
  </thead>
  <tbody>
  <% @disasters.each do |disaster| %>
    <tr>
      <td><%= disaster.id %></td>
      <td><%= disaster.category %></td>
      <td><%= link_to 'edit', edit_admin_disaster_path(disaster) %>
        <%= button_to "delete", admin_disaster_path(disaster), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New', new_admin_disaster_path, class: 'btn btn-success' %>