<h1></h1>
<table>
  <thead>
  <th>id</th>
  <th>type</th>
  <th>action</th>
  </thead>
  <tbody>
  <% @disasters.each do |disaster| %>
    <tr>
      <td><%= disaster.id %></td>
      <td><%= disaster.category %></td>
      <td><%= link_to 'edit', edit_admin_disaster_path(disaster) %>
        <%= button_to "delete", admin_disaster_path(disaster), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'new disaster type', new_admin_disaster_path %>